<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add stamp to album</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <a href="/">stampbook</a>
    <a href="/auth/signout">Sign out</a>
  </nav>

  <h1>Add stamp to album</h1>

  <form action="/users/<%= userId %>/stamps" method="post">
    <label for="name">stamp Name</label>
    <input type="text" name="name" id="name" required>

    <label for="quantity">Quantity</label>
    <input type="number" name="quantity" id="quantity" required>

    <button type="submit">Add stamp</button>
    
    <button type="submit" formaction="/users/<%= userId %>">Cancel</button>

  </form>
</body>
</html>